body {
	background-color: #000;
	color: #eee;
	font-family: sans-serif;
}

a {
	color: #3ad;
	text-decoration: none;
}

main {
	margin: 0 auto;
	width: 900px;
	background-color: #222;
}

article {
	margin: 2em 0;
	padding: 1em;
	background-color: #111;
}

article > div {
	margin-top: 1em;
	display: flex;
	justify-content: space-around;
}

article > div > img {
	display: block;
	max-height: 400px;
	max-width: 100%;
	cursor: pointer;
}

article > div.multi {
	flex-wrap: wrap;
}
article > div.multi > img {
	max-width: 50%;
}

div#modal {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.75);

	justify-content: center;
	align-items: center;
}
